<div class="order_history_menu_container">
	<%= render partial: "month_containers", locals: {order_histories: order_histories} %>
</div>

<div class="order_info_block">
	<div class="order_info_header_link">
		<div>
			<span class="comparation_button order_history_header_button" data-index-block="1"> Comparación </span>
			<span class="graph_button order_history_header_button" data-index-block="2"> Gráficas </span>
			<span class="product_button order_history_header_button" data-index-block="3"> Productos </span>
		</div>
	</div>
	<div class="order_info_block_body">
		
	</div>
</div>