	$('.content_body').empty()
	$('.content_body').append('<div class="fade_layer"></div>')
	$('.content_body').append('<div class="order_history_container"></div>')
<% @order_histories.each do |oh| %>
	$('.content_body').append('<%= escape_javascript(render partial: "link_to_order_history.html.erb", locals: {order_history: oh}) %>')
<% end %>

$('.loading_animation').removeClass('active')
$('.loading_animation_screen').removeClass('active')



