::-webkit-scrollbar {
  display: none !important;
 }

form#new_user {
	position: absolute;
  	left: 10%;
  	top: 35%;
  	width: 50%;
  	height: 40%;
  	color: #c9caca;

}

form#new_user input[type="submit"] {
	display: none;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #345;
  min-height: 765px !important;
  min-width: 1200px !important;
}

p.alert {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  background: #E23351;
  text-align: center;
  padding: 0em;
  margin: 0px;
  height: 0px;
  color: #fff;
  overflow: hidden;
  -webkit-animation: flash-message-slide-in 4s linear  1;
  display: none;
}

p.notice {
  /*color: :#fff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  background-color: #33e26d;
  text-align: center;
  padding: 0em;
  height: 0px;
  margin: 0px;
  -webkit-animation: flash-message-slide-in 5s linear  1;*/
  display: none;
}


@-webkit-keyframes flash-message-slide-in{
  0% {
    /*height: 1.5em;*/
    height: 0px;
    padding: 0em;
  }

  5% {
    /*height: 1.5em;*/
    padding: .5em 0.5em;
    height: 1.5em;
  }

  95% {
    /*height: 1.5em;*/
    padding: .5em 0.5em;
    height: 1.5em;
  }

  100% {
    /*height: 0em;*/
    padding: 0em;

  }
}

#rectangle {
	background-image: url("/colorfulForest.jpg");
	height: 60%;
	background-position: 53% 17%;
}

.frontpage-square {
	width: 33.3%;
	height: 40%;
	float: left;
	overflow: hidden;
	font-family: "Din custom";
  background: -webkit-linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
  background: linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
}

.frontpage-square a {
  text-decoration: none;
  color: #fff;
}

#square1 .frontpage-square-background-image{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
  position: absolute;
  overflow: hidden;
  left: 0px;
}

#square1 .frontpage-square-background-image:hover{
  -moz-transform: scaleX(-1) scale3d(2, 2, 1);
  -o-transform: scaleX(-1) scale3d(2, 2, 1);
  -webkit-transform: scaleX(-1) scale3d(2, 2, 1);
  transform: scaleX(-1) scale3d(2, 2, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
  position: absolute;
  overflow: hidden;
  left: 0px;
}

#square1 {
  position: absolute;
  overflow: hidden;
  left: 0px;
}

#square1 img {
	  height: 108%;
  position: absolute;
  /*left: -34px;*/
  /*z-index: -1;*/
  width: 100%;
  position: absolute;

}


#square2 {
	z-index: 1;
  position: absolute;
  left: 33.3%;
  overflow: hidden;
}

#square2 img {
	height: 100%;
	width: 100%;
  position: absolute;
/*	height: 110%;
  width: 123.2%;
  left: -23%;
  top: -5%;
  position: absolute;*/
}

#square3 {
	/*background-image: url("/assets/frontpage/cuadromapa.jpg");*/
	position: absolute;
	right: 1px;
	overflow: hidden;
}

#square3 img {
	height: 100%;
	width: 100%;
  position: absolute;
/*	position: absolute;
  height: 129%;
  width: 146.2%;
  left: -32%;
  top: -29%;*/
}

.rectangle-middle-box {
	position: absolute;
  	left: 17%;
  	top: 8%;
  	height: 39%;
  	width: 67%;
}

#form-background {
	z-index: 2;
  background-color: rgba(255,255,255,0.3);
/*	-webkit-filter: blur(23.7px);
  -moz-filter: blur(23.7px);
  -o-filter: blur(23.7px);
  -ms-filter: blur(23.7px);
  filter: blur(23.7px);*/
}

#image-blur-background {
	background-image: url("/colorfulForest.jpg");
	z-index: 1;
  background-position: 52% 17%;
  -webkit-filter: blur(1.7px);
  -moz-filter: blur(1.7px);
  -o-filter: blur(1.7px);
  -ms-filter: blur(1.7px);
  filter: blur(1.7px);
}


input[type="email"]::after {

	border-top: 1px solid #c9caca;
	background-image: url("/assets/icons/icon-user.jpg");
	width: 50%;
	height: 50%;
}

input[type="password"]::after {
	content: "remember this";
	border-top: 1px solid #c9caca;
	border-bottom: 1px solid #c9caca;
	background-image: url("/assets/icons/icon-lock.jpg");
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.email-container {
	position: relative;
	background: transparent;
  	/*width: 55%;*/
  	border-top: 1px solid #c9caca;
  	color: #c9caca;
  	font-family: helvetica neue;
  	overflow: auto;
}

input[type="email"] {
background: transparent;
 font-size: 23pt;
  	border: none;
  	float: left;	
  	width: 85%;
  	color: #c8c8c8;
  	position: relative;
  	bottom: 0.2em;
}

span {
  font-weight: 800;
}

figcaption {
  color: #fff;
  padding: 2em;
  backface-visibility: hidden;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}
.frontpage-square {
  cursor: pointer;
}

.frontpage-square h2 {
  font-weight: 300;
  word-spacing: -0.15em;
  margin: 0px;
  transition: transform 0.35s;
  transform-origin: 50% 100%;
}

.frontpage-square h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.frontpage-square p {
  letter-spacing: 1px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 30px;
  border: 2px solid #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}

.frontpage-square:hover h2, .frontpage-square:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);

}






#password-container {
	position: relative;
	background: transparent;
  	/*width: 55%;*/
  	border-top: 1px solid #c9caca;
  	color: #c9caca;
  	border-bottom: 1px solid #c9caca;
  	font-family: helvetica neue;

  	overflow: auto;	
}
input[type="password"] {
	background: transparent;
 font-size: 23pt;
  	border: none;
  	float: left;	
  	width: 85%;
  	color: #c8c8c8;
  	position: relative;
  	bottom: 0.2em;
}




#user-icon {
	float: left;
}

#password-icon {
	float: left;
}

.icon-container img{
	height: auto;
  	width: 46%;
  	position: relative;
  	left: 4%;
  	top: 0.2em;
  	/*margin: 10%;*/
}

.box {
	margin: 1%;
}

#logo-holder img{
	position: absolute;
	right: -3%;
	width: auto;
	height: 100%;
}

textarea, input { outline: none; }

.frontpage-square img {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

img.hover {
  transform: scale(1.5); 
}

/*existe .hover y :hover para que los objectos que esten debajo tengan un efecto 
cuando el mouse pase arriba*/

.frontpage-square:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(2,2,1);
  transform: scale3d(2,2,1);
}

.outlined-image:hover {
  opacity: 0 !important;
}

 .outlined-image{
  display: none;
  visibility: hidden;
  /*position: absolute;*/
}

 @-webkit-keyframes hover{
  0% {
      width:100%;
      height: 100%;
  }
  100% {
      height: 130%;
      width: 130%;
  }
}

.loading_screen {
  width: 100%;
  position: absolute;
  z-index: 98;
  height: 100%;
  background-color: #2d2d2d;
}


.container {
  width: 120px;
  margin: 50px auto;
  margin-top: 10%;
}

/*unswerving tower*/

.circle-1 {
  height: 120px;
  width: 120px;
  background: #612e8d;
}

.circle-2 {
  height: 100px;
  width: 100px;
  background: #c22286;
}

.circle-3 {
  height: 80px;
  width: 80px;
  background: #ea225e;
}

.circle-4 {
  height: 60px;
  width: 60px;
  background: #ed5b35;
}

.circle-5 {
  height: 40px;
  width: 40px;
  background: #f5b52e;
}

.circle-6 {
  height: 20px;
  width: 20px;
  background: #81c540;
}

.circle-7 {
  height: 10px;
  width: 10px;
  background: #00a396;
}

.circle-8 {
  height: 5px;
  width: 5px;
  background: #1674bc;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6,
.circle-7,
.circle-8 {
  border-bottom: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360) ;
    -o-transform: rotate(360) ;
  }
}

.sign_up {
  width: 100%;
  height: 100%;
  background: #EEE;
}

.sign_up label {
  display: block;
}

.sign_up_header {
  background: #E56245; 
  overflow: auto;
}

.sign_up_header_container {
    position: relative;
  left: 13%;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Lato', sans-serif;
  padding: 5em 0 3em;
  background-color: #e56245;
  font-size: 14px;
  line-height: 1.42857;
}


.sign_up_header_container h2 {
    font-size: 3em;
  line-height: 1em;
  font-family: Lato,sans-serif;
  font-weight: 700;
  word-spacing: initial;

}

.sign_up form {
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 35%;
  padding: 2%;
  margin: 1% 3%;
}

.sign_up input {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
  background: #fff;
}

.sign_up .form_label {
  color: #666;
}

.sign_up input[type=submit] {
  display: block !important;
  cursor: pointer;
  -webkit-transition: background 0.3s, color 0.1s;
  -o-transition: background 0.3s, color 0.1s;
  transition: background 0.3s, color 0.1s;
}
.sign_up input[type="submit"]:active {
  background-color: rgb(102, 102, 102);
  color: #fff;
}
.sign_up input[type="submit"]:hover {
  border: 1px solid rgb(102, 102, 102);
  color: rgb(102, 102, 102);
  
}

.sign_up #new_user {
  position: inherit;
  width: 70%;
  height: 50%;
  color: #c9caca;
}

.sign_up .field {
  overflow: auto;
  width: 100%;
}

div#error_explanation {
  display: block;
  max-width: 63%;
  padding: .4em .8em .4em 2em;
  margin: .5em .5em .5em 0;
  background: #EE6464;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
  /* border: 2px solid #fff; */
  font-family: Lato,sans-serif;
  font-weight: 700;
  word-spacing: initial;
}

.user_fields {
  overflow: auto;
  padding: .4em .8em .4em 2em;
  margin: .5em .5em .5em 0;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  display: block;
  width: 35%;
  float: left;
}

.user_detail_fields {
  overflow: auto;
  padding: .4em .8em .4em 2em;
  margin: .5em 1.5em .5em 0;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  display: block;
  width: 35%;
  float: left;
}

.field.account_type_field {
  float: left;
  width: inherit;
}

input[type=submit] {
  cursor: pointer;
}

.sign_up input[type=radio] {
  display: block;
  padding: 0;
  margin: 1%;
  float: left;
  width:1em;
}


