<!-- recibe un order_product en f: -->

<li class="order_product_info_tab"> 
	<div class="product_main_info">
		<div class="product_name_container"><%= j f.product.name %></div>
	</div>
	<div class="product_comment_container">
		<div class="comment_content">
			<%= j f.comment.content %>
		</div>
	</div>
</li>