<div class="container newOrder">
	<div class="column categories">
		<!-- categorias -->
		<ul class="category-list">
			<%= @categories.each do |category|  %>

			<% end %>
		</ul>
		
	</div>

	<div class="column subcategories">
		<!-- subcategorias -->
	</div>

	<div class="column products">
		<!-- productos -->
	</div>
	
	<div class="column order">
		<!-- titulo -->
		<!-- producto -->
		<!-- unidades -->
		<!-- comentario -->
		<!-- cancelar -->
		<!-- terminar -->
	</div>	
</div>