// agrega informacion a la segunda parte del historial
$('.order_info_block_body').empty()
$('.order_info_block_body').append(" <%= escape_javascript(render partial: 'order_history_products_block.html.erb', locals: { single_combos: @single_combos, multi_combos: @multi_combos, product_name_hash: @product_name_hash}).html_safe %> ")


// encuentra el promedio de cada producto para ofertas individuales
function getAverage() {
	history_lists = $('.combo_product_history_list');
	// arreglo de listas
	$.each(history_lists, function(index, value) {
		children_array = $(value).children('.combo_product_history')
		sum = 0
		quantity = 0
		// arreglo de ofertas
		$.each(children_array, function(index, value) {
			sum += parseFloat($(value).attr('data-price'))
			++quantity
		})
		average = sum/quantity
		if (isNaN(average)) { average = " -"};
		average_message = " <%= t 'average_abv' %>: $" + average
		$(value).children('.product_average_container').text(average_message);

		// indica la divergencia del promedio para cada producto
		console.log(children_array);
		setAvgArrows(children_array, average);


	})
}


// recibe un arreglo de ofertas individuales
function setAvgArrows(array, average) {
	$.each(array, function(index, value) {
		id = $(value).attr('data-combo-history-id')
		price = $(value).attr('data-price')
		difference = Math.round(-1 * (average - price) / average * 100).toFixed(0);

		if (difference >= 0) {
			$('.combo_product_history[data-combo-history-id=' + id + '] .product_history_difference').addClass('up')
		} else {
			$('.combo_product_history[data-combo-history-id=' + id + '] .product_history_difference').addClass('down')
		};
		$('.combo_product_history[data-combo-history-id=' + id + '] .difference_percentage').text('%' + difference)
	})
}

getAverage()

function stepIndividualOffers(direction) {
	// left or right	
	if (direction == "left") {
		active_block = $('.multiple_order_history_window').attr('data-active-block')
		$('.multiple_order_history_window').attr('data-active-block', parseInt(active_block) - 1)

		$('.combo_product_history[data-block-group="' + active_block + '"]').addClass("hidden");
		$('.product_header[data-block-group="' + active_block + '"]').addClass("hidden");
		active_block--;
		$('.combo_product_history[data-block-group="' + active_block + '"]').removeClass("hidden");
		$('.product_header[data-block-group="' + active_block + '"]').removeClass("hidden");

	} else if(direction == "right") {
		active_block = $('.multiple_order_history_window').attr('data-active-block')
		$('.multiple_order_history_window').attr('data-active-block', parseInt(active_block) + 1)

		$('.combo_product_history[data-block-group="' + active_block + '"]').addClass("hidden");
		$('.product_header[data-block-group="' + active_block + '"]').addClass("hidden");
		active_block++;
		$('.combo_product_history[data-block-group="' + active_block + '"]').removeClass("hidden");
		$('.product_header[data-block-group="' + active_block + '"]').removeClass("hidden");

	};
}





// cantidad de bloques que caben a la vez en la tabla del historial
var groupOfferScreenAmount = 5;

$.ajax({
	url: "<%= j order_history_path(id: params[:id], format: :json) %>",
	contentType: "application/json",
	type: "GET",
	success: function(jsonData) {

		// product headers
		var product_headers = "";
		var block_group = 1;

		for (var i = 0; i < jsonData.products.length; i++) {
			id = jsonData.products[i].id;
			name = jsonData.products[i].name;

			product_headers += "<div class='product_header hidden' product_id='" + id + 
									"' data-block-group='" + block_group + "'>"

				product_headers += name;
			product_headers += "</div>"

			if ((i + 1) % groupOfferScreenAmount == 0) { block_group++};
		};
		$(".product_header_list").append(product_headers);


		// 

		for (var i = 0; i < jsonData.multiple_offer_combos.length; i++) {
			multiple_offer_combo = jsonData.multiple_offer_combos[i]

			// organization
			organization = multiple_offer_combo.organization;
			organization_div = "<div class='organization_block' data-combo-status='" + multiple_offer_combo.combo_history.status+ "'>" + organization + "</div>";
			$('.left_side_bar').append(organization_div)

			// combo_history
			// combo_history = multiple_offer_combo.combo_history



			combo_history_list = "<div class='combo_product_history_list' data-combo-history-id='" + 
										multiple_offer_combo.combo_history.id + "' data-combo-status='" + multiple_offer_combo.combo_history.status + "'>"

			// esqueleto para cada producto
			block_group = 1;
			for (var y = 0; y < jsonData.products.length; y++) {
				product = jsonData.products[y]
				combo_history_list += "<div class='combo_product_history empty hidden' data-combo-history-id='" + 
												multiple_offer_combo.combo_history.id + 
												"' data-product-id='" + product.id + 
												"' data-block-group='" + block_group + "'> </div>"

				if ((y + 1) % groupOfferScreenAmount == 0) { block_group++};

			};

			combo_history_list += "</div>"
			$('.multiple_order_history_window').append(combo_history_list)



			// agrega informacion al esqueleto
			for (var x = 0; x < multiple_offer_combo.combo_product_histories.length; x++) {
				combo_product_history = multiple_offer_combo.combo_product_histories[x].combo_product_history
				first_row = "<div class='first_row'>$: " + combo_product_history.unitary_price + "</div>"
				second_row = "<div class='second_row'>Kg: " + combo_product_history.units + "</div>"
				$(".combo_product_history[data-combo-history-id='" + combo_product_history.combo_history_id + 
					"'][data-product-id='" + combo_product_history.product_id + "']").append(first_row + second_row).removeClass('empty')
			};

			// combo_history_total
			combo_history_total = "<div class='combo_history_total' data-combo-status='" + multiple_offer_combo.combo_history.status + "'>Total:<br/>$" + multiple_offer_combo.combo_history.price + "</div>"
			$('.right_side_bar').append(combo_history_total)

			// cantidad de movimientos para las flechas
			$('.step_button.left .step_arrow').attr('steps', 0);
			$('.step_button.right .step_arrow').attr('steps', Math.floor( jsonData.products.length / groupOfferScreenAmount))
			$('[data-block-group="1"]').removeClass('hidden')

			combo_product_history_height = $('.group_offers .combo_product_history:not("empty")').outerHeight()
			$('.organization_block').css('height', combo_product_history_height)
			$('.combo_history_total').css('height', combo_product_history_height)
			$('.group_offers .combo_product_history_list').css('min-height', $('.group_offers .combo_product_history:not("empty")').outerHeight(true))
		};
	},
	fail: function(errorMsg) {

	}
})

$('.step_button.left .step_arrow').on('click', function(e) {
	steps = $(e.target).attr('steps')
	if ( steps > 0) {
		$(e.target).attr('steps', --steps)
		rSteps = $('.step_button.right .step_arrow').attr('steps')
		$('.step_button.right .step_arrow').attr('steps', ++rSteps)
		stepIndividualOffers("left")
	};
})

$('.step_button.right .step_arrow').on('click', function(e) {
	steps = $(e.target).attr('steps')
	if ( steps > 0) {
		$(e.target).attr('steps', --steps)
		lSteps = $('.step_button.left .step_arrow').attr('steps')
		$('.step_button.left .step_arrow').attr('steps', ++lSteps)
		stepIndividualOffers("right")
		console.log("test")
	};
})



