<!-- llamado para formularo de unidades en combos -->
<!-- recibe un order_product en d -->
<div class="combo_product_box combo_product_form">
	<%= button_tag "-", class: "combo_product_remove_button"%>

	<div class="combo_product_name">
		<!-- se agrega con javascript el nombre -->
	</div>

	<div class="combo_product_form_units">
		<span class="combo_product_form_label unit_code">Kg</span>
		<%= d.number_field :units, class: "combo_product_unit_field", value: 0.00, step: 0.1, min: 0.1, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)"  %>	
	</div>

	<!-- escondido -->
	<%= d.number_field :product_id, class: "product_id_field", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)"  %>
	

</div>
