/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

 /*azul 2db6cf*/
 /*verde 46b98a*/
 /*rojo e0645c*/
 /*gris 999999*/



 /*buenos*/
 /* amarillo #EB9E4A*/
 /*rojo obscuro #CC686C*/
 /*amarillo naranja #EFC647*/
 /* azul-morado #7986CB*/
 /*verde #7986CB*/
 /*naranja padre #ff6500*/

@font-face {
  font-family: 'din1451alt';
  src: url(/assets/din1451alt.eot);
  src: url(/assets/din1451alt.eot?#iefix) format("embedded-opentype"), 
    url(/assets/din1451alt.ttf) format("truetype"), 
    url(/assets/din1451alt.woff) format("woff"), 
    url(/assets/din1451alt.svg#din1451alt) format("svg");
  font-weight: normal;
  font-style: normal;
}


.top-bar  {
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: #3d3d3e;
  z-index: 1;
  top: 0px;
}
 /*
	@newOrder
 */

 body {
 	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
 	background-color: #262626;  /*343026*/
  margin: 0px;
 }

 .container {
	position: absolute;
  left: 5%;
  width: 90%;
  overflow: auto;
  background-color: white;
  height: 90%;
  box-shadow: -5px -5px 20px #31353c;
  top: 7%;
}

 button:focus {outline:0;}

 .newOrder {
	height: 34%;
	width: 100%;
	margin-top: 1%;
	overflow: scroll;
 }

.categories-list {
	border-left: 1px #31353c solid;
}
/*#00DfDc*/
 .newOrder .column {
 	float: left;
 	width: 24%;
 	overflow: hidden;
 }

 .newOrder .column.order {
 	width: 26%;
 	height: 80%;
  	border: 1px solid #31353c;
  	position: absolute;
  	right: 1.85%;
 }

 .subcategories ul {
 	/*background-color: #ff6500;*/
 	border-left: 1px solid #31353c
 }

 .subcategories ul, .products ul{
 	display: none;
 	position: relative;
 	left: -100%;
 }

 .subcategories > ul.active > li {
 	/*border-left: 2px #31353c solid;
 	border-right: 2px #31353c solid;*/
 }

 .subcategories > ul.active > li:first-child {
	/*border-top: 2px #31353c solid;*/
 }

 .subcategories > ul.active > li:last-child {
	/*border-bottom: 2px #31353c solid;*/
 }

 .subcategories > ul.active /*, .products > ul.active*/ {
 	display: block;
 	position: relative;
 	left: 0%;
 	color: white;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 .products > ul.active {
	display: block;
  	position: relative;
  	left: 0%;
  	border-left: 1px solid #31353c;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 @-webkit-keyframes column-fade-in{
	0% {
		left: -100%;
	}

	100% {
		left: 0%;
	}
}

 .newOrder ul {
 	margin: 0px;
	list-style: none;
	padding: 0px;
 }
	
.newOrder li {
	height: 2em;
}
/*#e8f4f8*/

.newOrder li button {
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: text-indent 0.3s,  background-color 0.3s;
}
.newOrder li button:hover {
	color: #ff6500;
  	transition: text-indent 0.3s, background-color 0.3s;
  	text-indent: 20%;
  	/*background-color: #8a8a8a;*/
}

.newOrder li button.active {
	background-color: #ff6500;
	color: white;
	transition: background-color 0.3s, color 0.3s;
	text-indent: 20%;
 	/*border: 2px #31353c solid;*/
 	/*border-right: none;*/
}
.newOrder li button.selected_product {
	background-color: #808080;
	color: white;
}

.new-order-product {
	/*border: 1px solid #31353c;*/
	height: 100%;
}

.new-order-form {
	height: 100%;
}

.new_order_form .product_box {
  height: 15%;
  border: 1px solid #31353c;
  margin: 5px 0px;
}
img.x-button {
  width: 6%;  
    position: relative;
  left: 93%;
  top: -2.3em;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.5s;
}

img.x-button:hover {
	border: 1px solid #31353c;
 	transition: border 0.5s;
}


.new-order-product a.add_fields {
	display: none;
}


/*Formulario de la nueva orden*/
#new_order { 
height: 100%
}

.product_form_area {
	  height: 85%;
  width: 98%;
  position: absolute;
  left: 1%;
  overflow-y: scroll;
  border-bottom: 1px solid #31353c;
  border-top: 1px solid #31353c;
}
form#new_order.new_order_form input[type=submit] {
	  border: 1px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  position: absolute;
  left: 5%;
  bottom: 3%;
  cursor: pointer;
  transition: border 0.3s, color 0.3s;
}



form#new_order.new_order_form input[type=submit]:hover {
	color: #ff6500;
	border: 1px solid #ff6500;
  	transition: border 0.3s, color 0.3s;

}

form#new_order.new_order_form input[type=number] {
	width: 13%
}

form#new_order.new_order_form textarea {
	display: none;
}
form#new_order.new_order_form textarea.active {
  position: relative;
  width: 100%;
  height: 9em;
  top: -4em;
  resize: none;
}
form#new_order.new_order_form textarea.editable {
  z-index: 4;
  display: block;
  position: relative;
  bottom: 11em;
  width: 98%;
  height: 94%;
  resize: none;
}

.letter_image_box {
	/*background-image: image-url("letter-#31353c.png");*/
	/*border: 1px solid #31353c;*/
  	width: 14%;
  	height: 40%;
  	position: relative;
  	left: 57%;
  	top: -61%;
  	cursor: pointer;
  	display: hidden;
}

.letter_image_box img {
	width: 100%;
}

.letter_image_box.active {
	position: relative;
  		cursor: pointer;
  		border: 1px solid #31353c;
  		width: 99.5%;
  		margin-left: -57%;
  		margin-top: -5%;
  		height: 95%;
  		z-index: 3;
  		background-color: white;
	-webkit-animation: image-box-expand 0.3s ease 1;

}

 @-webkit-keyframes image-box-expand{
	0% {
		width: 5%;
  		height: 20%;
  		position: relative;
  		left: 57%;
  		/*top: -62%;*/
  		cursor: pointer;
  		display: hidden;

	}
	50% {
		height: 20%;
		position: relative;
		left: 57%;
		/*top: -62%;*/
  		border: 1px solid #31353c;
  		width: 100%;
  		margin-left: -57%;
	}
	100% {
		position: relative;
  		cursor: pointer;
  		border: 1px solid #31353c;
  		width: 99.5%;
  		margin-left: -57%;
  		margin-top: -5%;
  		height: 95%;
  		z-index: 3;
  		background-color: white;
	}
}

.letter_image_box.active img{
	visibility: hidden;
}


/*
  @NEWOFFER
*/


.new_offer {
  width: 98%;
  margin-top: 1%;
  height: 97%;
  margin-left:1%;
 }

.order_list {

}
/*#00DfDc*/
 .new_offer .column {
  float: left;
  width: 35%;
  height: 100%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  /*border: 1px solid #31353c;*/
  
 }

 .new_offer .column.new_offer_orders {
    width: 12%;
  }

 .new_offer .column.new_offer_order_products {
  width: 50%;
 }


  .new_offer ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
 }
  
.new_offer li {
  overflow: auto;
}
/*#e8f4f8*/

.new_offer li.order_box {
  font-size: 0.9em;
  color: #31353c;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: text-indent 0.3s,  background-color 0.3s;
}
.new_offer li.order_box:hover {
  color: #ff6500;
    transition: text-indent 0.3s, background-color 0.3s;
}

.new_offer li.order_box.active {
  background-color: #ff6500;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.new_offer li a {
  display: block;
}
/*.new_offer*/ .offer_product_box, .selected_offer_box {
  overflow: auto;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  margin-left: 1%;
}

/*.new_offer*/ .offer_product_box .left_side, .selected_offer_box .left_side {
  width: 37%;
  float: left;
  /*border: 1px solid red;*/
}

/*.new_offer*/ .offer_product_box .right_side, .selected_offer_box .right_side {
  width: 61%;
  float: left;
  height: 100%;
  margin-top: 1%;
}


.left_side .product_name_box{
    font-size: 1.3em;
    width: 83%;
    text-align: center;
    font-weight: bold;
}

.left_side .offer_numbers_box {
  margin-top: 3%;
  margin-left: 6%;
  font-size: 1.1em;
  width: 98%;
  overflow: auto;
  padding-bottom: 6%;
}

.background_box {
  border: 1px solid white;
  overflow-x: scroll;
  margin-left: 3%;
  font-weight: lighter;
  border-radius: 8px;
  margin-right: 2%;
}

.offer_numbers_box .background_box, .combo_price_label .background_box {
  float: left;
  width: 21%;
  text-align: center;
  margin-left: 3%;
  overflow: auto;
}

.combo_price_label .background_box {
  width: 6em;
  overflow-x: scroll;
}
/*.new_offer*/ .offer_product_box.ready {
  background-color:  #EB9E4A;
}
/*.new_offer*/ .offer_product_box.locked {
  background-color: #7986CB;
}

/*.new_offer*/ .offer_product_box.received {
  background-color: #2db6cf
}
/*.new_offer*/ .offer_product_box.form_for.pending {
  background-color: #CC686C;
}
/*.new_offer*/ .offer_product_box.denied {
  background-color: #999999;
}

/*.order_index */.offer_product_box.objective {
  background-color: #999999
}

.new_combo_form input[type=checkbox] {
  /*display:none*/;
}


.comment_box {
  overflow-x: scroll;
  padding: 1%;
}

.offer_product_box .comment_box {
  border-radius: 4px;
  border: 1px solid white;
  height: 4.3em;
  clear: both;
  margin-bottom: 0.7%;
  width: 99%;
  color: white;
  font-weight: lighter;
}

.combo_box .comment_box, .selected_combo_box .comment_box {
  border-radius: 4px;
  border: 1px solid white;
  height: 4.3em;
  clear: both;
  color: white;
  font-weight: lighter;
  margin: 1%;
  width: 91.5%;
  float: left;
}


.combo_product_add_button {
  /*display: none;*/
  float: right
}
.combo_product_add_button.selection_active {
  float: right;
}

.offer_product_box .comment_box.selection_active {
  background-color: white;
  clear: right;
  height: 4.1em;
  overflow-y: scroll;
  margin-bottom: 0.7%;
}

.right_side .buyer_comment_tag {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  border-bottom: none;
  color: white;
  border-radius: 4px;
  float: left;
  transition: color 0.3s, background-color 0.3s;


}

.right_side .buyer_comment_tag:active {
  background-color: white;
  color: #31353c;
  transition: color 0.3s, background-color 0.3s;

}

.right_side .seller_comment_tag {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  border-bottom: none;
  color: white;
  margin-left: 0px;
  float: left;
  border-left: none;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 4px;

}

.right_side .seller_comment_tag:active {
  background-color: white;
  color: #31353c;
  transition: color 0.3s, background-color 0.3s;
}


.seller_comment {
  display:none;
}



.offer_product_box #new_offer  {
    /*background-color: #444444;*/
}


#new_offer .seller_comment {
  height: 100%;
}

textarea, input {outline: none;}

#new_offer #offer_comment_attributes_content {
  width: 98.5%;
  height: 92%;
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-weight: lighter;
  font-family: helvetica;
  resize: none;
  border: none;
}


#new_offer input[type=number]::-webkit-inner-spin-button,
#new_offer input[type=number]::-webkit-outer-spin-button,  
#new_combo input[type=number]::-webkit-inner-spin-button,  
#new_combo input[type=number]::-webkit-outer-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

#new_offer input[type=number] {
  float: left;
  width: 21%;
  text-align: center;
  margin-left: 3%;
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.1em;
  height: 1em;
}


#new_offer .offer_numbers_box {
  font-size: 0.8em;
  font-weight: 300;
  overflow: initial;
}

.offer_product_box.form_for {
  background-color: #CC686C;
}

.form_box_inside_numbers {
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  clear: both;
  padding: 2% 0%;
  margin-top: 3%;
  margin-left: -3%;
}

.pending .offer_numbers_box {
  margin-top: 3%;
  margin-left: 6%;
  font-size: 0.8em;
  font-weight: 100;
  padding-bottom: 6%;
  overflow: initial;
}
/*polygon(nonzero, 9px 64px, 16px 52px, 27px 44px, 49px 36px, 95px 29px, 385px 28px, 385px 83px, -4px 83px);*/

.unitary_price_notice {
  visibility: hidden;
  font-weight: 100;
  font-size: 0.8em;
  margin-left: 2%;
  color:#ff6500;
}

.unitary_price_notice.active {
  visibility: visible;
  color: white;
  transition: color 1s;

}

.new_combo_form, .combo_box, .selected_combo_box {
  background-color: #444444;
  margin-left: 1%;
  overflow: auto;
  border-radius: 4px;
  margin-bottom: 1%;
  border: 1px solid white;
}

.combo_box.ready {
  background-color: #2db6cf;
}

.new_combo_form .checkbox_area{
  display: none;
}

.product_list_area{
  /*border: 1px solid white;*/
  width: 95%;
  margin-left: 2.5%;
  overflow: auto;
  margin-bottom: 2%;
}

.product_list_area_box{
  float: left;
  width: 32%;
  margin-left: 2%;
}

.product_id_field {
  display: none;
}

.combo_product_box {
  padding: 1%;
  border: 1px solid white;
  width: 45%;
  border-radius: 4px;
  color: white;
  font-weight: 300;
  float: left;
  margin: 1%;
}

button.combo_product_remove_button {
  float: right;
  margin-top: 1%;
}

.combo_product_unit_field {
  width: 21%;
  text-align: center;
  margin-left: 3%;
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.1em;
  height: 1em;
}

.combo_product_box_label {
}

.product_list_area a.add_fields {
  display: none;
}

.combo_product_box_title {
  display: block;
  width: 61%;
  overflow-x: scroll;
  margin-bottom: 2%;
  border-bottom: 1px solid white;
  padding-bottom: 3%;
}

.combo_product_unit_label {
  float: right;
}

input.combo_price {
  margin-left: 2.5%
}

.combo_price_label {
  margin-left: 2.5%;
  color: white;
  float: left;
  margin-bottom: 1%;
}

.combo_product_name {
    display: inline;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 1em;
  width: 50%;
}

.combo_product_box .background_box {
  width: 2.5em;
  text-align: center;
  float: right;
}

#combo_price {
  width: 10%;
  text-align: center;
  margin-left: 3%;
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.1em;
  height: 1em;
  float: left;

}

#combo_comment_attributes_content {
  float: left;
  resize: none;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  width: 60%;
  margin-left: 3%;
  height: 5em;
  color: white;
}

.new_combo_form input[type=submit]{
  position: relative;
  bottom: 2.5em;
  left: 2.5%;
}

.submit_button {
  border: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
}

.submit_button:hover {
  border: 1px solid #ff6500;
  color: #ff6500;


}

.pending .submit_button:hover {
  border: 1px solid #444444;
  color: #444444; 
}

#combo_order_id {
  display: none;
}

.order_list a {
    display: block;
  text-decoration: none;
  color: white;
  background-color: #31353c;
  font-size: 1.2em;
  margin: 1% 0%;
  height: 3em;
  border-radius: 4px;
  text-align: center;
}

.new_offer_orders a {
  text-decoration: none;
  color: white;
  background-color: #31353c;
  font-size: 1.2em;
  margin: 1% 0%;
  height: 3em;
  border-radius: 4px;
  text-align: center;
}


/*@EditOrder*/

.order_index {
  width: 98%;
  margin-top: 1%;
  height: 97%;
  margin-left:1%;
 }

 .order_index .column {
  float: left;
  width: 35%;
  height: 100%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  /*border: 1px solid #31353c;*/
  
 }

 .order_index .column.orders {
    width: 12%;
  }

 .order_index .column.order_offers {
  width: 50%;
 }


.order_index ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
 }
  
.order_index li {
  overflow: auto;
}
/*#e8f4f8*/

.order_index li.order_box {
  font-size: 0.9em;
  color: #31353c;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: text-indent 0.3s,  background-color 0.3s;
}

.provider_box {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #31353c;
  font-size: 1.2em;
  margin: 1% 0%;
  height: 3em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.order_index .offer_list .offer_product_box{
  display: none;
}

.offer_list .offer_product_box.active{
  display: block;
}

.order_index button.seller_comment_tag{
  border: 1px solid white;
}

.order_offers .offer_product_box .seller_comment {
  display: block;
}

.offer_selection_add_button {
  float: right;
}

.selected_offer_box {
  display: none;  
}

.selected_offer_box.selected{
  display: block;
  color: #31353c;
  border: 1px solid #31353c;
}

.selected_offer_box.selected .background_box{
  border: 1px solid #31353c;
}

.selected_offer_box.selected .comment_box {
  border-radius: 4px;
  border: 1px solid #31353c !important;
  height: 4.3em;
  clear: both;
  margin-bottom: 0.7%;
  width: 99%;
  font-weight: lighter;
}

.offer_selection_button, .offer_deselection_button {
  float: right
}

.order_index .combo_box {
  display: none;
}

.order_index .combo_box.active{
  display: block;
}

.combo_select_button {
  float: left;
  margin-left: 65%;
  margin-top: -19.5%;
}


.selected_combo_box {
  display: none;
}

.selected_combo_box.selected {
  display: block;
  background-color: #2db6cf;
}

.combo_selection_button {
  float: right;
  margin-top: -20%;
  margin-right: 2%;
}

.combo_deselection_button {
  float: right;
  margin-top: -26.3%;
  margin-right: 2%;
}


/*poner en posicion adecuada*/
#datepicker {
  position: absolute;
  bottom: 6%;
  right: 8%;
}

#timepicker {
  position: absolute;
  bottom: 2%;
  right: 8%;
}

.due_date_info {
  font-size: 0.7em;
}




/* @Show*/
.column.order_info  {
  font-weight: 100;
  color: white;
  background-color: #1e1e1e;
  margin-right: -3%;
  width: 38%;
  border: 0px solid #31353c;
  position: absolute;
  right: -36%;
  -webkit-animation: slide-out-order-info 0.5s ease 1;
}

.column.order_info.active  {
    position: absolute;
    right: 3%;
    -webkit-animation: slide-in-order-info 0.5s ease 1;

}


 @-webkit-keyframes slide-in-order-info{
  0% {
      border: 1px solid #31353c;
      position: absolute;
      right: -36%;
  }
  100% {
      border: 1px solid #31353c;
      position: absolute;
      right: 3%;
  }
}

 @-webkit-keyframes slide-out-order-info{
  0% {
      border: 1px solid #31353c;
      position: absolute;
      right: 3%;
  }
  100% {
      border: 1px solid #31353c;
      position: absolute;
      right: -36%;
  }
}


.info_tab_close_button {
  width: 0;
  height: 0;
  position: absolute;
  right: 2%;
  top: 4%;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid #666666;
  cursor: pointer;
}

 .info_tab_button {
  width: 0;
  height: 0;
  position: absolute;
  right: 2%;
  top: 4%;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 1em solid #666666;
  cursor: pointer;
}


.product_main_info{
  width: 100%;
  padding: 3%;
  overflow: scroll;
  transition: background-color 0.3s;
  cursor: pointer;
  -webkit-animation: background-color-change 0.5s linear 1;  
  
}
.product_main_info:hover {
  background-color: #252526;
  transition: background-color 0.3s;  
}

.product_main_info.changed {
    -webkit-animation: background-color-change2 0.5s linear 1;  
}

@-webkit-keyframes background-color-change{
  0% {
    background-color: #0098F1;
  }
  30% {
    background-color: #0098F1;
    
  }
  100% {
     background-color: #262626;      
  }
}

@-webkit-keyframes background-color-change2{
  0% {
    background-color: #0098F1;
  }
  30% {
    background-color: #0098F1;
    
  }
  100% {
     background-color: #262626;      
  }
}

.product_comment_container {
  background-color: #3F3E47;
  font-size: 0.8em;
  font-weight: 200;
  box-shadow: inset 1px 2px 6px 1px black;
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}

.product_comment_container.active {
  height: auto;
  max-height: 500px;
  overflow-y: scroll;
  transition: max-height 0.3s ease-in-out;  
}

.product_comment_container .comment_content {
  padding: 3%;
}

.product_name_container {
  float: left;
}

.product_quantity_container {
  float: right;
  padding-right: 6%;
}

.order_title_container {
  padding: 3%;
  background-color: #2e2e2f;
  box-shadow: 0px 1px 9px black;
}


/*principal*/

.wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
}



