/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
	@newOrder
 */

 body {
 	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
 	background-color: #343026;
 }

 .container {
	position: absolute;
	left: 5%;
	width: 90%;
	overflow: auto;
	background-color: white;
	height: 90%;
	box-shadow: -5px -5px 20px black;
}

 button:focus {outline:0;}

 .newOrder {
	height: 34%;
	width: 100%;
	margin-top: 1%;
	overflow: scroll;
 }

.categories-list {
	border-left: 1px black solid;
}
/*#00DfDc*/
 .newOrder .column {
 	float: left;
 	width: 24%;
 	overflow: hidden;
 }

 .newOrder .column.order {
 	width: 26%;
 	height: 80%;
  	border: 1px solid black;
  	position: absolute;
  	right: 1.85%;
 }

 .subcategories ul {
 	/*background-color: #ff6500;*/
 	border-left: 1px solid black
 }

 .subcategories ul, .products ul{
 	display: none;
 	position: relative;
 	left: -100%;
 }

 .subcategories > ul.active > li {
 	/*border-left: 2px black solid;
 	border-right: 2px black solid;*/
 }

 .subcategories > ul.active > li:first-child {
	/*border-top: 2px black solid;*/
 }

 .subcategories > ul.active > li:last-child {
	/*border-bottom: 2px black solid;*/
 }

 .subcategories > ul.active /*, .products > ul.active*/ {
 	display: block;
 	position: relative;
 	left: 0%;
 	color: white;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 .products > ul.active {
	display: block;
  	position: relative;
  	left: 0%;
  	border-left: 1px solid black;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 @-webkit-keyframes column-fade-in{
	0% {
		left: -100%;
	}

	100% {
		left: 0%;
	}
}

 .newOrder ul {
 	margin: 0px;
	list-style: none;
	padding: 0px;
 }
	
.newOrder li {
	height: 2em;
}
/*#e8f4f8*/

.newOrder li button {
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: text-indent 0.3s,  background-color 0.3s;
}
.newOrder li button:hover {
	color: #ff6500;
  	transition: text-indent 0.3s, background-color 0.3s;
  	text-indent: 20%;
  	/*background-color: #8a8a8a;*/
}

.newOrder li button.active {
	background-color: #ff6500;
	color: white;
	transition: background-color 0.3s, color 0.3s;
	text-indent: 20%;
 	/*border: 2px black solid;*/
 	/*border-right: none;*/
}

.new-order-product {
	border: 1px solid black;
	width: 90%;
	height: 20%;
}

