
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

 /*azul 2db6cf*/
 /*verde 46b98a*/
 /*rojo e0645c*/
 /*gris 999999*/



 /*buenos*/
 /* amarillo-naranja #EB9E4A*/
 /*rojo obscuro #CC686C*/
 /*amarillo #EFC647*/
 /* azul-morado #7986CB*/
 /*verde #39bf00*/
 /*naranja padre #ff6500*/

 ::-webkit-scrollbar {
  display: none !important;
 }

 textarea {
  font-family: '.HelveticaNeueDeskInterface-Regular' !important;
 }

.flash_messages {
  position: fixed;
  color: white;
  right: -10%;
  opacity: 0;
  top: 3%;
  overflow: auto;
  width: 31%;
  -webkit-animation: flash-message-slide-in 5s linear  1;
}

.notice {
  margin-right: 10%;
  padding: 6%;
  color: #E23351;
  background-color: #39bf00;
  background-color: #33e26d;
  margin-right: 10%;
  padding: 6%;
  overflow: auto;
}


.message_box {
  display: none;
}

.message_box.active {
  padding-top: 2%;
  color: white;
  clear: both;
  display: block;
  max-height: 10em;
  float: left;
  width: 21em;
  border-top: 1px solid white;
  margin: 2%;
}

@-webkit-keyframes flash-message-slide-in{
  0% {
    right: -10%;
    opacity: 0;
    z-index: 99;
  }

  5% {
    opacity: 1;
    z-index: 99;
    right: 0%
  }

  95% {
    opacity: 1;
    z-index: 99;
    right: 0%;
  }

  100% {
    right: -10%;
    opacity: 0;
    z-index: 99;
  }
}

img.alert-icon {
  width: 12%;
  float: left;
  margin-right: 3%;
  margin-top: -4%;
  /*margin-bottom: 2%;*/
}

.alert {
  margin-right: 10%;
  padding: 6%;
  color: #E23351;
  background-color: #39bf00;
  background-color: #33e26d;
  margin-right: 10%;
  padding: 6%;
  overflow: auto;
}

.alert-success {
  background-color: #39bf00;
  background-color: #33e26d;
  margin-right: 10%;
  padding: 6%;
  overflow: auto;
}

.alert-failure {
  background-color: rgb(188, 106, 119);
  background-color: #E23351;
  margin-right: 10%;
  padding: 6%;
  overflow: auto;
}

.flash_value_box {
  color: white;
  float: left;
}

.top-bar  {
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: #3d3d3e;
  z-index: 1;
  top: 0px;

    padding-left: 15px;
  height: 40px;
  margin: 0;
  display: block;
  background: #454e59;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #CCC;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.top-bar a {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: inline;
  font-family: sans-serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  height: auto;
  line-height: 40px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 11px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  width: auto;
}

.top-bar a:hover {
  background-color: rgb(52, 152, 219);
}

a.choice {
background-color: rgb(52, 152, 219);
position: relative;
text-align: left;
text-decoration: none;
text-transform: uppercase;
transition-delay: 0s;
transition-duration: 0.1s;
transition-property: all;
transition-timing-function: ease-in-out;
white-space: nowrap;
width: auto;
z-index: 100;
}

a.choice:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(52, 152, 219, 0);
  border-top-color: #3498db;
  border-width: 10px;
  margin-left: -10px;
}

a.log_out_link:hover {
  background-color: rgb(188, 106, 119);
}

/*@Orders  {*/

  .order_product_list form {
  display: none;
}

form.edit_combo {
  display: block;
  position: static;
  margin-left: -3em;
}
  
  .column_header {
    border-bottom: 1px solid #E4E4E4;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
  }

  .order_box.active a {
    float: left;
    width: 80%;
    pointer-events: none;
  }

  .confirmation_button, .order_finish_image {
  height: auto;
  width: 5%;
  float: left;
  margin-left: 5%;
  margin-right: -8%;
  cursor: pointer;
  /*background-color:green;*/
  }

  a.order_finish_button {
  display: none;
  text-decoration: none;
  color: #454E59;
  font-size: 0.8em;
  height: auto;
  width: 5%;
  float: left;
  margin-left: 5%;
  margin-right: -8%;
  cursor: pointer;
}

  .loading_animation_screen {
    display: none;
    float: left;
    height: 100%;
    width: 79%;
  }

  .loading_animation_screen.active {
    display: block;
  }

  .loading_animation_screen img.loading_animation {
    /*margin: 25% 50%;*/
    height: 15em;
    width: auto;
  }



  img.loading_animation {
    display: none;
    width: 50%;
    height: auto;
    margin: 25%;
  }

  img.loading_animation.active {
    display: block;
  }

  .order_box.fade-in {
    position: relative;
    bottom: 0%;
    opacity: 1;
    left: 0%;
    -webkit-animation: order-box-fade-in 0.5s cubic-bezier(0,1,.71,.94)  1;
  }

  .order_box.fade-out {
    position: relative;
    bottom: 3em;
    opacity: 1;
    left: 38%;
    -webkit-animation: order-box-fade-out 0.5s cubic-bezier(.27,.4,.02,.99)  1;
  }

  @-webkit-keyframes order-box-fade-out{
  0% {
    bottom: 0em;
    left: 0%;
    opacity: 1;
  }

  100% {
    bottom: 3em;
    left: 38%;
    opacity: 0;

  }
}

  @-webkit-keyframes order-box-fade-in{
  0% {
    
    bottom: 3em;
    left: 38%;
    opacity: 0;
  }

  100% {
    bottom: 0em;
    left: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes provider-box-slide-in{
  0% {
    left: -100%;
    opacity: 0;
  }

  100% {
    left: 0%;
    opacity: 1;
  }
}

.unit_code {
  color: black;
}

.combo_deselection_button img {
  height: auto;
  width: 35%;
}

.combo_options_box {
  height: auto;
  border: none;
  background-color: transparent;
  float: right;
  height: 1.15em;
  margin-top: -1%;
}



.options_box {
  padding: 1%;
  float: left;
  width: 8%;
  border-bottom: 1px solid #e5e5e5;
  height: 1.13em;
}

.combo_provider_name_box {
  border-bottom: 1px solid #e5e5e5;
  padding: 1%;
  width: 100%;
  float: left;
}

.provider_name_box {
  border-bottom: 1px solid #e5e5e5;
  padding: 1%;
  width: 88%;
  float: left;
}

.selected_offer_box .product_name_box {
  float: left;
  width: 48%;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 1%;
  /*text-align: center;*/
}

.unit_box {
  float: left;
  border-bottom: 1px solid #e5e5e5;
  padding: 1%;
  width: 47%;
  color: #20bdff;
}

.unitary_price_box {
    float: left;
  width: 48%;
  border-bottom: 1px solid #e5e5e5;
  color: #20bdff;
  padding: 1%;
  border-right: 1px solid #e5e5e5;
}

.total_price_box {
  float: left;
  border-bottom: 1px solid #e5e5e5;
  width: 47%;
  padding: 1%;
  color: #20bdff;
}


/*}*/


 /*
	@newOrder
 */

 body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
 	background-color: #262626;  /*343026*/
  margin: 0px;
  min-width: 1400px;
  min-height: 765px;
 }

 .container {
	position: absolute;
  top: 40px;
  /*left: 5%;*/
  height: 95%;
  width: 100% !important; 
  margin: 0px !important;
  min-width: 1400px !important;
  min-height: 760px !important;
  overflow: auto;
  background-color: white;
  /*box-shadow: -5px -5px 20px #31353c;*/
}

 button:focus {outline:0;}

 .newOrder {
	height: 90%;
	width: 100%;
	margin-top: 1%;
	overflow: scroll;
 }

.categories-list {
	border-left: 1px #31353c solid;
}
/*#00DfDc*/

.column {
  border-left: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
  height: 100%;
}


 .newOrder .column {
 	float: left;
  border: none;
 	width: 24%;
 	overflow: hidden;
  overflow-y: scroll;
 }

 .newOrder .column.order {
 	  width: 26%;
 	  height: 90%;
    border: 1px solid #31353c;
    position: absolute;
    right: 1.85%;
 }

 .subcategories ul {
 	/*background-color: #ff6500;*/
 	border-left: 1px solid #31353c
 }

 .subcategories ul, .products ul{
 	display: none;
 	position: relative;
 	left: -100%;
 }

 .subcategories > ul.active > li {
 	/*border-left: 2px #31353c solid;
 	border-right: 2px #31353c solid;*/
 }

 .subcategories > ul.active > li:first-child {
	/*border-top: 2px #31353c solid;*/
 }

 .subcategories > ul.active > li:last-child {
	/*border-bottom: 2px #31353c solid;*/
 }

 .subcategories > ul.active /*, .products > ul.active*/ {
 	display: block;
 	position: relative;
 	left: 0%;
 	color: white;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 .products > ul.active {
	display: block;
  	position: relative;
  	left: 0%;
  	border-left: 1px solid #31353c;
 	-webkit-animation: column-fade-in 0.3s cubic-bezier(0,1,1,1) 1;
 }

 @-webkit-keyframes column-fade-in{
	0% {
		left: -100%;
	}

	100% {
		left: 0%;
	}
}

 .newOrder ul {
 	margin: 0px;
	list-style: none;
	padding: 0px;
 }
	
.newOrder li {
	height: 2em;
}
/*#e8f4f8*/

.newOrder li button {
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
  -webkit-transition: text-indent 0.3s, background-color 0.3s;
  -o-transition: text-indent 0.3s, background-color 0.3s;
  transition: text-indent 0.3s, background-color 0.3s;
}
.newOrder li button:hover {
	color: #ff6500;
  -webkit-transition: text-indent 0.3s, background-color 0.3s;
  -o-transition: text-indent 0.3s, background-color 0.3s;
  transition: text-indent 0.3s, background-color 0.3s;
  	text-indent: 20%;
  	/*background-color: #8a8a8a;*/
}

.newOrder li button.active {
	background-color: #ff6500;
	color: white;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
	text-indent: 20%;
 	/*border: 2px #31353c solid;*/
 	/*border-right: none;*/
}
.newOrder li button.selected_product {
	background-color: #ff6500;
	color: white;
}

.new-order-product {
	/*border: 1px solid #31353c;*/
	height: 100%;
}

.new-order-form {
	height: 100%;
}

.new_order_form .product_box {
  height: 3.5em;
  border: 1px solid #31353c;
  margin: 5px 0px;
  overflow: auto;
}
img.x-button {
  height: 1em;
  border: 1px solid transparent;
  position: absolute;
  right: 1%;
  margin: 1%;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}

img.x-button:hover {
	border: 1px solid #31353c;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}


.new-order-product a.add_fields {
	display: none;
}


/*Formulario de la nueva orden*/
#new_order { 
height: 100%
}


.new_order_pop_up_screen {
  display: none;
}

.new_order_pop_up_screen.active {
  display: block;
  cursor: pointer;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 40px;
  background-color: white;
  border: 1px solid black;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
}
.new_order_pop_up_fields {
    /* overflow: scroll; */
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 10%;
  left: 32.5%;
  width: 35%;
  cursor: initial;
}

.new_order_field {
  position: relative;
  display: block;
  padding: .4em .8em .4em 2em;
  margin: .5em .5em .5em .5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
}

.new_order_field:before {
  position: absolute;
  left: -1.3em;
  margin-top: -1.3em;
  top: 50%;
  background: #f78793;
  height: 2em;
  color: #fff;
  width: 2em;
  line-height: 2em;
  border: .3em solid #F6F6F6;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
}

.order_name_field_container:before {
  content: "1";
}

.order_comment_field_container:before {
  content: "2";
}

.order_date_field_container:before {
  content: "3";
}

.new_order_field_information {
  color: #1885D7;
}


.new_order_date_field_explanation {
  width: 18em;
}

#order_comment_attributes_content {
  max-width: 95%;
  width: 90%;
  height: 5em;
}

#order_title {
  max-width: 95%;
}

.date_field_container {
  width: 50%;
  position: absolute;
  right: 1%;
  top: 1%;
  padding: 1%;
}

#timepicker {
  margin: 2% 0%;
}

.new_order_pop_up_fields.active {

}

.new_order_title_area {

}

input#order_title {

}

.product_form_area {
	  height: 85%;
  width: 98%;
  position: absolute;
  left: 1%;
  overflow-y: scroll;
  border-bottom: 1px solid #31353c;
  /*border-top: 1px solid #31353c;*/
}

.product_form_area.active {
  border-bottom: 1px solid transparent;
  /*border-top: 1px solid #31353c;*/
}

.product_box label{
  margin: 1%;
}

#new_order_submit {
  border: 1px solid #3d3d3e;
  color: #3d3d3e;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  /* background-color: #8DC44E; */
  /* color: white; */
  font-weight: lighter;
  margin: 0em 0.5em 0.5em 0.5em;
  -webkit-transition: border 0.3s, color 0.3s;
  -o-transition: border 0.3s, color 0.3s;
  transition: border 0.3s, color 0.3s;
}



#new_order_submit:hover {
	color: #8DC44E;
	border: 1px solid #8DC44E;
  -webkit-transition: border 0.3s, color 0.3s;
  -o-transition: border 0.3s, color 0.3s;
  transition: border 0.3s, color 0.3s;

}

button#new_order_form_continue_button {
  position: absolute;
  bottom: 0%;
  margin: 6%;
  right: 0%;
  border: 1px solid black;
  background-color: transparent;
  -webkit-transition: color 0.5s, border-color 0.5s;
  -o-transition: color 0.5s, border-color 0.5s;
  transition: color 0.5s, border-color 0.5s;
}

button#new_order_form_continue_button:hover {
  position: absolute;
  border: 1px solid rgb(255, 101, 0);
  background-color: transparent;
  color: rgb(255, 101, 0);
}



form#new_order.new_order_form input[type=number] {
	width: 13%
}

form#new_order #com {
	display: none;
}

#new_order .comment_field {
  display: none;
}



form#new_order .comment_field.active {
  position: relative;
  width: 100%;
  height: 9em;
  top: -4em;
  resize: none;
}

form#new_order .comment_field.editable {
  z-index: 4;
  display: block;
  resize: none;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 2em;
  border-left: none;
}

.letter_image_box {
	/*background-image: image-url("letter-#31353c.png");*/
	/*border: 1px solid #31353c;*/
  	  /* display: none; */
  /* background-image: image-url("letter-#31353c.png"); */
  position: absolute;
  height: 2.3em;
  left: 50%;
  cursor: pointer;
}

.letter_image_box img {
	width: 100%;
}

.letter_image_box.active {
	position: relative;
  		cursor: pointer;
  		border: 1px solid #31353c;
  		width: 99.5%;
  		margin-left: -57%;
  		margin-top: -5%;
  		height: 95%;
  		z-index: 3;
  		background-color: white;
	-webkit-animation: image-box-expand 0.3s ease 1;

}

 @-webkit-keyframes image-box-expand{
	0% {
		width: 5%;
  		height: 20%;
  		position: relative;
  		left: 57%;
  		/*top: -62%;*/
  		cursor: pointer;
  		display: hidden;

	}
	50% {
		height: 20%;
		position: relative;
		left: 57%;
		/*top: -62%;*/
  		border: 1px solid #31353c;
  		width: 100%;
  		margin-left: -57%;
	}
	100% {
		position: relative;
  		cursor: pointer;
  		border: 1px solid #31353c;
  		width: 99.5%;
  		margin-left: -57%;
  		margin-top: -5%;
  		height: 95%;
  		z-index: 3;
  		background-color: white;
	}
}

.letter_image_box.active img{
	visibility: hidden;
}


/*
  @NEWOFFER
*/


.new_offer {
  height: 100%;
 }

.order_list {

}
/*#00DfDc*/
 .new_offer .column {
  float: left;
  width: 35%;
  height: 100%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  /*border: 1px solid #31353c;*/
  
 }

 .new_offer .column.new_offer_orders {
    width: 25%;
  }

 .new_offer .column.new_offer_order_products {
  /*width: 40%;*/
  width: 27%;
 }

 .column.new_offer_order_combos {
  /*width: 34.5%;*/
  width: 47.55%;
 }


  .new_offer ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
 }
  
.new_offer li {
  overflow: auto;
}

.combo_product_add_button, .order_product_title, .order_product_unit_container {
  float: left;
}

.offer_options_box {
  position: relative;
  display: block;
  padding: .4em .8em .4em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  overflow: auto;
}

.combo_product_add_button {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /*box-sizing: border-box;*/
  font-size: 1.5em;
  padding: .5em;
  padding-top: .3em;
  margin: -.5em 0em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.combo_product_add_button:hover {
  color: #20bdff;
}

.combo_product_add_button:active {
  color: #fff;
  background:#20bdff;

}

.order_product_title {
  margin-left: 1.5em;
}

.order_product_unit_container {
  float: right;
}

.combo_instructions_container {
  position: relative;
  display: block;
  padding: .4em .8em .4em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  /* border: 1px solid rgba(0,0,0,.1); */
  font-size: 16px;
  overflow: auto;
  text-align: center;
}

.combo_instructions_container.hidden {
  display: none !important;
}

.combo_box {
  position: relative;
  padding: .4em 0em .4em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  overflow: auto;
}

.combo_box .product_list_area {
  border: none;
  width: 50%;
  float: left;
  overflow: auto;
}

.combo_box .combo_product_box {
  width: 90%;
  padding: .4em .8em .4em 0em;
  margin: .54em .5em .5em .5em;
  background: #fff;
}

.combo_box .comment_box {
  float: left;
  width: 45%;
  max-width: 45%;
  height: 7.3em;
  background-color: transparent;
  color: #20bdff;
  padding: .4em .8em .4em .4em;
  margin: .7em .7em .5em .5em;
  background: #fff;
  border: 1px solid #999;
  font-size: 11px;
}

.combo_box_footer {
  overflow: auto;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

#new_combo {
  display: none;
  position: relative;
  padding: .4em 0em .4em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  overflow: auto;
}

#new_combo .products_and_comment_field.hidden {
  display: none !important;
}

#new_combo.active {
  display: block;
}

#new_combo_submit_button {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  float: right;
  margin: .6em .6em 0.2em .5em;
  font-size: 14px;
  transition: all 0.2s;
}

#new_combo_submit_button:active {
  color: #fff;
  background: #20bdff;
}
#new_combo_submit_button:hover {
  color: #20bdff;
  border-color: #20bdff;
}

#new_combo_submit_button[disabled] {
  opacity: 0.1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#new_combo_submit_button[disabled]:hover {
  opacity: 0.1;
  color: #ff204e;
  border-color: #ff204e;
}

.combo_price_form {
  overflow: auto;
  float: left;
  margin: .6em .6em 0.2em .5em;
}

.add_new_combo_button {
  display: none;
  position: relative;
  display: block;
  padding: .4em .8em .4em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 17px;
  overflow: auto;
  text-align: center;
  cursor: pointer;
}

.add_new_combo_button.active {
  display: block;
  animation: button_glow 1.5s linear infinite alternate;
}

.add_new_combo_button.hidden {
  display: none;
}

@keyframes button_glow{
  0% {
    background-color: transparent
  }

  100% {
    background-color:#ffff9a;
  }
}

.combo_product_form_units {
  padding-top: 0.2em;
  overflow: auto;
}

#new_combo .combo_product_name {
  padding-top: 0.2em;
}





/*#e8f4f8*/

/*.new_offer li.order_box {
  font-size: 0.9em;
  color: #31353c;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: text-indent 0.3s,  background-color 0.3s;
}
.new_offer li.order_box:hover {
  color: #ff6500;
    transition: text-indent 0.3s, background-color 0.3s;
}

.new_offer li.order_box.active {
  background-color: #ff6500;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.new_offer li a {
  display: block;
}*/
/*.new_offer*/ .offer_product_box, .selected_offer_box {
  overflow: auto;
  /*color: white;*/
  /*margin-left: 1%;*/
}

/*.new_offer .status_circle.new_offer_form_status_circle {
  background-color: #cc686c;
}

.new_offer .status_circle.ready-provider {
  background-color: #EB9E4A;
}

.new_offer .status_circle.locked {
  background-color: #39bf00;
}*/

.combo_box.ready {
  background-color: white;
  color: black;
  border-left: 3px solid #cc686c;
}

.combo_box.locked {
  background-color: white;
  color: black;
  border-left: 3px solid #EB9E4A;
}

.combo_box.received {
  background-color: white;
  color: black;
  border-left: 3px solid #39bf00;
}

/*.order_index .status_circle.ready-provider, .combo_status_circle.ready{
  transition: background-color 1s;
  background-color: #cc686c;
}

.order_index .status_circle.locked, .combo_status_circle.locked{
  transition: background-color 1s;
  background-color: #EB9E4A;
}

.order_index .status_circle.received, .combo_status_circle.received{
  transition: background-color 1s;
  background-color: #39bf00;
}

.status_circle {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  float: left;
  margin: 7%;
}

.combo_status_circle {
  width: 3em;
  height: 3em;
  border-radius: 2em;
  float: left;
  margin: 7%;
}*/

/*.new_offer*/ .offer_product_box .left_side, .selected_offer_box .left_side {
  width: 37%;
  float: left;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

/*.new_offer*/ .offer_product_box .right_side, .selected_offer_box .right_side {
  width: 62.6%;
  float: left;
  border-bottom: 1px solid #E5E5E5;
  /*border-top: 1px solid #E5E5E5;*/
}


.left_side .product_name_box{
   font-size: 1.3em;
  width: 100%;
  text-align: center;
  font-weight: 500;
  /* padding: 1%; */
  /* padding-left: 10%; */
  border-bottom: 1px solid #E5E5E5;
  overflow: auto;
  height: 3.6em;
}

.currency_code {
  width:3em;
  float: left;
  font-size: 0.8em;
}

.left_side .offer_numbers_box {
  font-size: 1em;
  width: 100%;
  overflow: auto;

}

.unit_container {
  float: left;
  border-right: 1px solid #E5E5E5;
  width: 49%;
  padding: 5% 0%;
}


.wanted.unit_container {
  border-top: 1px solid #E5E5E5;
}
.new_offer .unit_container {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

.total_price_container {
  text-align: left;
  width: 100%;
  float: left;
  padding: 5% 0%;
}

.order_index .total_price_container {
  text-align: left;
  width: 50%;
  float: left;
  padding: 5% 0%;
}

.new_offer .currency_code {
    margin: -1% 2%;
  color: #C8C8C8;
}
.background_box.units {
  margin-top: -2%;
}
.offer_numbers_box .background_box.total_price {
  float: left;
  margin-left: 0px;
  font-size: 0.9em;
  margin: 0px;
  margin-top: -2%;
  margin-left: -4%;
  text-align: left;
  width: 49%;
}


#offer_un
.background_box {
  border: 1px solid white;
  overflow-x: scroll;
  margin-left: 3%;
  font-weight: lighter;
  border-radius: 8px;
  margin-right: 2%;
}

.offer_numbers_box .background_box, .combo_price_label .background_box {
  float: left;
  width: 64%;
  text-align: left;
  margin-left: 3%;
  overflow: auto;
}

.combo_price_label .background_box {
  width: 6em;
  overflow-x: scroll;
  position: relative;
  left: -11%;
  top: -0.05em;
  color: #20bdff;
}

.new_combo_form input[type=checkbox] {
  /*display:none*/;
}


.new_combo_submit_button {
    height: auto;
  width: 2.5em;
  position: top;
  position: relative;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0.5em;
}

.new_combo_status_icon {
  width: 2.5em;
  height: 2.5em;
  border-radius: 2em;
  float: left;
  margin: 0.6em 0.9em;
  background-color: red;
}

.comment_box {
  overflow-x: scroll;
  padding: 1%;
}

.offer_product_box .comment_box {
  height: 6.35em;
  clear: both;
  margin-bottom: 0.7%;
  color: black;
  font-weight: lighter;
}

.button_offer .combo_box .comment_box, .selected_combo_box .comment_box {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  height: 4.3em;
  clear: both;
  color: black;
  font-weight: lighter;
  margin: 1%;
  width: 91.5%;
  float: left;
}

.offer_product_box .comment_box.selection_active {
  background-color: white;
  clear: right;
  height: 4.1em;
  overflow-y: scroll;
  margin-bottom: 0.7%;
}

.right_side .buyer_comment_tag {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  border-bottom: none;
  color: white;
  border-radius: 4px;
  float: left;
  transition: color 0.3s, background-color 0.3s;


}

.right_side .buyer_comment_tag:active {
  background-color: white;
  color: #31353c;
  transition: color 0.3s, background-color 0.3s;

}

.right_side .seller_comment_tag {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  border-bottom: none;
  color: white;
  margin-left: 0px;
  float: left;
  border-left: none;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 4px;

}

.right_side .seller_comment_tag:active {
  background-color: white;
  color: #31353c;
  transition: color 0.3s, background-color 0.3s;
}


.seller_comment {
  display:none;
}


#new_offer .seller_comment {
  height: 100%;
}

textarea, input {outline: none;}

#new_offer #offer_comment_attributes_content {
  width: 98.5%;
  height: 92%;
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-weight: lighter;
  font-family: helvetica;
  resize: none;
  border: none;
}


#new_offer input[type=number]::-webkit-inner-spin-button,
#new_offer input[type=number]::-webkit-outer-spin-button,  
#new_combo input[type=number]::-webkit-inner-spin-button,  
#new_combo input[type=number]::-webkit-outer-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

#new_offer input[type=number] {

  width: 96%;
  text-align: left;
  margin-left: 3%;
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.1em;
  height: 1em;
  color: #20bdff;
  position: relative;
  bottom: 0.2em;
}

.new_offer_unitary_input {
  
}

.new_offer_unit_input {
  position: static !important;
}


#new_offer .offer_numbers_box {
  font-size: 0.8em;
  font-weight: 300;
  overflow: initial;
}

.form_box_inside_numbers {
  overflow: auto;
  border: 1px solid white;
  border-radius: 8px;
  clear: both;
  padding: 2% 0%;
  margin-top: 3%;
  margin-left: -3%;
}

.pending .offer_numbers_box {
  margin-top: 3%;
  margin-left: 6%;
  font-size: 0.8em;
  font-weight: 100;
  padding-bottom: 6%;
  overflow: initial;
}
/*polygon(nonzero, 9px 64px, 16px 52px, 27px 44px, 49px 36px, 95px 29px, 385px 28px, 385px 83px, -4px 83px);*/

.unitary_price_notice {
  visibility: hidden;
  font-weight: 100;
  font-size: 0.8em;
  margin-left: 2%;
  color:#ff6500;
}

.unitary_price_notice.active {
  visibility: visible;
  color: white;
  transition: color 1s;

}

.new_combo_form, .combo_box, .selected_combo_box {
  overflow: auto;
}

.combo_box.ready {
  background-color: white;
  color: black;
}

.combo_box.highlight_this {
  -webkit-animation: yellow-highlight 1s ease 1;
}

@-webkit-keyframes combo-box-highlight{
  0% {
      background-color: #ffff9a;
  }
  100% {
      background-color: white
  }
}

.new_combo_form .checkbox_area{
  display: none;
}

#new_combo .product_list_area {
  border: none;
  width: 50%;
  float: left;
}

#new_combo .combo_product_box {
  width: 90%;
  padding: .4em .8em .4em 0em;
  margin: .5em .5em .5em .5em;
  background: #fff;
}

.new_offer .combo_status_circle {
  display: none;
}


.order_index .combo_box {
  cursor: pointer;
}

.order_index .combo_box .comment_box {
  width: 44%;
}

.order_index .product_list_area{
  border: none;
  width: 50%;
  float: left;
}

.product_list_area_box{
  float: left;
  width: 32%;
  margin-left: 2%;
}

.selected_combo_box .product_list_area {
  /* border: 1px solid white; */
  width: 100%;
  /* margin-left: 2.5%; */
  overflow: auto;
  /* margin-bottom: 2%; */
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.product_id_field {
  display: none;
}

.combo_product_box {
  padding: 1%;
  border: 1px solid #E5E5E5;
  width: 45%;
  color: black;
  font-weight: 300;
  float: left;
  margin: 1%;
}

button.combo_product_remove_button {
  float: left;
  border: none;
  background-color: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  padding: .3em .5em;
  padding-bottom: .4em;
  margin: -.3em 0em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button.combo_product_remove_button:active {
  color: white;
  background-color: #ff204e;
}
button.combo_product_remove_button:hover {
  color: #ff204e;
}


.combo_product_unit_field {
  color: #20bdff;
  font-size: 0.9em;
  padding: 0;
  width: 65%;
  margin-left: 2%;
}

.combo_product_box_label {
}

.product_list_area a.add_fields {
  display: none;
}

.combo_product_unit_label {
  float: right;
}

.combo_product_form_label{
  clear: left;
  float: left
}

input.combo_price {
  margin-left: 2.5%
}

.combo_price_label {
  margin-left: 2.5%;
  color: black;
  float: left;
  margin-top: 1%;
}

.combo_product_name {
  display: inline;
  float: left;
  height: 1em;
  width: 50%;
  color: black;
  margin-left: 0.5em;
}

.combo_product_box .background_box {
  width: 3em;
  text-align: left;
  float: right;
  border-radius: 0px;
  color: #20bdff;
}

#combo_price {
   width: 50%;
  text-align: left;
  margin-left: 1%;
  overflow: auto;
  /* border: 1px solid white; */
  /* border-radius: 8px; */
  font-weight: lighter;
  font-size: 1.1em;
  height: 1em;
  float: left;
  color: #20bdff;

}

#combo_comment_attributes_content {
  float: left;
  width: 44%;
  max-width: 44%;
  height: 7.3em;
  background-color: transparent;
  color: #20bdff;
  padding: .4em .8em .4em .4em;
  margin: .7em .7em .5em .5em;
  background: #fff;
}

.combo_form_footer {
  /*padding: 1%;*/
  overflow: auto;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  /*border-bottom: 1px solid #e5e5e5;*/
}

.submit_button {
  border: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
}

.submit_button:hover {
  border: 1px solid #ff6500;
  color: #ff6500;
}

.pending .submit_button:hover {
  border: 1px solid #444444;
  color: #444444; 
}

.new_offer_submit_button {
  height: auto;
  width: 2.5em;
  position: top;
  position: relative;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0.5em;
}

#combo_order_id {
  display: none;
}

.order_list a {
    display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin: 1% 0%;
}

/*@EditOrder*/

.order_index {
  /*width: 98%;
  margin-top: 1%;
  height: 97%;
  margin-left:1%;*/
  height: 100%;
  min-width: 1400px;
 }

 .order_index .column {
  float: left;
  width: 35%;
  height: 100%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  /*border: 1px solid #31353c;*/
  
 }

 .order_index .column.orders {
    width: 25%;
    min-width: 306.75px;
  }

 .order_index .column.order_offers {
  width: 40%;
  min-width: 490.796875px;

 }

 .order_index .column.order_products {
  width: 34.5%;
  min-width: 423.3125px;
 }


.order_index ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
 }
  
.order_index li {
  overflow: auto;
}
/*#e8f4f8*/

.new_offer li.order_box:before {
  content: "";
  width: 1em;
  display: block;
  float: right;
  /*border-right: 1px solid #dddddd;*/
  border-left: 1px solid #dddddd;
  height: 4.6em;
  margin-bottom: -0.7em;
  margin-top: -0.7em;
  margin-right: -.7em;
}

.new_offer li.order_box.has_selected:before {
  background: #8DC44E;
}

 li.order_box {
  border-bottom: 1px solid #E5E5E5;
  padding: 3%;
  height: 3.2em;
}

 li.order_box:first-child {
  border-top: 1px solid #E5E5E5;
}

.order_box img {
    float: left;
  height: auto;
  width: 15%;
  margin-right: 5%;
}

img.return_arrow {
  float: left;
   width: 10%;
  margin-top: 2%;
  display: none;
  cursor: pointer;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}





.provider_box {
  border-bottom: 1px solid #E5E5E5;
  display: block;
  text-decoration: none;
  color: black;
  /* background-color: #31353c; */
  font-size: 1.2em;
  /* margin: 1% 0%; */
  height: 3em;
  /* border-radius: 4px; */
  /* text-align: center; */
   cursor: pointer; 
  padding: 1.5%;
  position: relative;
  -webkit-animation: provider-box-slide-in 0.5s linear  1;
    /*-webkit-animation-direction: reverse;  Chrome, Safari, Opera 
    animation-direction: reverse;*/
  
}

.provider_box:before {
  content: "";
  width: 1em;
  display: block;
  float: left;
  border-right: 1px solid #dddddd;
  height: 3.6em;
  margin-left: -1.6%;
  margin-top: -1.6%;
  margin-right: 3%;
}

.selected_provider_box:before {
  background:#8DC44E;
}

.provider_service_score {
  display: block;
  width: 7em;
  cursor: default;
}


/*.provider_box_before {
  display: block;
  content: "";
  width: 5%;
  height: 3em;
  font-size: 1.2em;
  padding: 1.5% 0%;
  float: left;
  border-right: 1px solid #dddddd;
  -webkit-animation: provider-box-slide-in 0.5s linear  1;
}*/

.provider_box.fade-out {
  left: -100%; 
  opacity: 0;
  -webkit-animation: provider-box-slide-out 0.5s linear  1;
    /*-webkit-animation-direction: reverse;  Chrome, Safari, Opera 
    animation-direction: reverse;*/
}

@-webkit-keyframes provider-box-slide-out{
  0% {
    left: 0%;
    opacity: 1;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}

.order_index .offer_list .offer_product_box{
  display: none;
  height: 7em;
  border-bottom: 1px solid #dddddd;
}

.new_offer .offer_product_box {
  height: 11em;
  border-bottom: 1px solid #dddddd;
}

.new_offer .offer_product_box .comment_box {
  height: 11em;
}

.sent.offer_product_box {
  height: 9em;
}

.sent.offer_product_box .right_side {
  height: 99%;
}

.sent.offer_product_box .comment_box{
  height: 95%;
  padding: 1%;
  margin: 0;
}

/*indicacion de que se creo una nueva oferta*/
.new.sent.offer_product_box {
  -webkit-animation: yellow-highlight 1s ease 1;
}

.offer_list .offer_product_box.active{
  overflow: auto;
  /*border-bottom: 1px solid rgb(229, 229, 229);*/
  color: black;
  display: block;
  /*height: 7.7em;*/
  border-radius: 0px;
}

.order_index button.seller_comment_tag{
  border: 1px solid white;
}


.order_offers .offer_product_box .seller_comment {
  display: block;
}

.offer_selection_add_button {
  float: right;
}

.selected_offer_box {
  height: 5.4em;
}
.selected_offer_box.locked, .selected_offer_box.received {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.selected_offer_box {
  display: none;  
}

.selected_offer_box.selected{
  display: block;
  color: #31353c;
  -webkit-animation: yellow-highlight 1s ease 1;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}

@-webkit-keyframes yellow-highlight{
  0% {
      background-color: #ffff9a;
  }
  100% {
      background-color: white
  }
}

.selected_offer_box.locked .product_name_box, .selected_offer_box.received .product_name_box,
.selected_offer_box.locked .unit_box, .selected_offer_box.received .unit_box,   
.selected_offer_box.locked .unitary_price_box, .selected_offer_box.received .unitary_price_box, 
.selected_offer_box.locked .total_price_box, .selected_offer_box.received .total_price_box {
  width: 40.5%;
}

img.package_img, input.package_img {
  height: 2.97em;
  width: 3em;
  float: left;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #e5E5E5;
  padding: 0.9% 2%;
}

.selected_combo_box {
  padding: .4em 0em 0em 0em;
  margin: .5em .5em .5em 0.5em;
  background: #fdfdfd;
  color: #444;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  overflow: auto;
}

.selected_combo_box img.package_img {
  border-bottom: none;
}

.selected_combo_box .status_icon {
  width: 100%;
  overflow: auto;
}

input.package_img {
  border: none;
  height: 2em;
  width: 2em;
  padding: 0;
}

form.edit_offer {
  width: 100%;
  height: 100%;
  position: static;
  display: block;
}

.selected_offer_box.selected .background_box{
  border: 1px solid #31353c;
}

.selected_offer_box.selected .comment_box {
  border-radius: 4px;
  border: 1px solid #31353c !important;
  height: 4.3em;
  clear: both;
  margin-bottom: 0.7%;
  width: 99%;
  font-weight: lighter;
}

 .offer_deselection_button, .product_received_button {
  /*height: 100%;*/
  padding: 0px;
  border: none;
  background-color: transparent;
}

/*.order_index .offer_selection_button, .combo_product_add_button {

  float: right;
  font-size: 2em;
  padding-bottom: 25%;
  border-radius: 5em;
  height: 120%;
  box-sizing: content-box;
  width: 120%;
  background-color: transparent;
  position: relative;
  left: 29%;
  bottom: 27%;
  border: none;
  color: white;
  cursor: pointer;
  border:1px solid transparent;
}*/

.offer_selection_button.active {
  cursor: default;
  opacity: 0;
  -webkit-animation: offer_selection_rotate_out 0.5s ease 1;
  
}

 @-webkit-keyframes offer_selection_rotate_out{
  0% {
    font-size: 2em;
      background-color: #ffff9a;
      opacity: 1;
  }
  100% {
    background-color: transparent;
      opacity: 0;
    font-size: 0.0em
      
  }
}

.offer_deselection_button img{
  width: 2em;
  margin-top: -8%;
}

.order_index .combo_box {
  display: none;
}

.order_index .combo_box.active{
  display: block;
  border-bottom: 1px solid #E5E5E5;
}


.combo_select_button {
  float: left;
  margin-left: 65%;
  margin-top: -19.5%;
}


.selected_combo_box {
  display: none;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.selected_combo_box.selected {
  display: block;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  -webkit-animation: yellow-highlight 1s ease 1;

}

.selected_combo_box.locked, .selected_combo_box.received {
  display: block;
}

.combo_selection_button {
  display: none;
}

/*.combo_selection_button, .combo_product_add_button {

    font-size: 3em;
  float: right;
  padding-bottom: 19%;
  border-radius: 5em;
  height: 120%;
  box-sizing: content-box;
  width: 120%;
  background-color: transparent;
  position: relative;
  left: 27%;
  bottom: 27%;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}*/

.combo_selection_button.active {
  cursor: default;
  opacity: 0;
  -webkit-animation: offer_selection_rotate_out 0.5s ease 1;


}

.combo_deselection_button {
  height: auto;
  border: none;
  background-color: transparent;
}


/*poner en posicion adecuada*/
#datepicker {
  
}

#timepicker {
  
}

.due_date_info {
  font-size: 0.7em;
}




/* @Show*/
.column.order_info  {
  display: none;
  font-weight: 100;
  color: white;
  background-color: #1e1e1e;
  margin-right: -3%;
  width: 35%;
  border: 0px solid #31353c;
  position: absolute;
  right: -36%;
  transition: background-color 0.3s;
  -webkit-animation: slide-out-order-info 0.5s ease 1;
}

.order_comment_container {
  position: relative;
  display: block;
  padding: .4em .8em .4em 2em;
  margin: .5em .5em .5em 0.5em;
  background: #232323;
  color: #cccccc;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
}

.order_info_comment_header {
  margin-bottom: 5px;
  color: #F6F6F6;
  /* font-size: 20px; */
  /* text-align: center; */
  font-weight: normal;
  line-height: normal;
}

.column.order_info.active  {
  display: block;
  position: absolute;
  transition: background-color 0.3s;
  right: 3%;
  -webkit-animation: slide-in-order-info 0.5s ease 1;

}


 @-webkit-keyframes slide-in-order-info{
  0% {
      border: 1px solid #31353c;
      position: absolute;
      right: -36%;
  }
  100% {
      border: 1px solid #31353c;
      position: absolute;
      right: 3%;
  }
}

 @-webkit-keyframes slide-out-order-info{
  0% {
      border: 1px solid #31353c;
      position: absolute;
      right: 3%;
  }
  100% {
      border: 1px solid #31353c;
      position: absolute;
      right: -36%;
  }
}


.info_tab_close_button {
    position: absolute;
  /*right: -4%;*/
  right: 0%;
  top: 2%;
  cursor: pointer;
}

li.order_product_info_tab {
  overflow: hidden;
}

.info_tab_close_button img {
  height: auto;
  width: 35%;
}

 .info_tab_button {
  position: absolute;
  right: 0%;
  top: 2%;
  cursor: pointer;
}

.info_tab_button img {
  height: auto;
  width: 50%;
}


.product_main_info{
  /*width: 100%;*/
  padding: 3%;
  overflow: scroll;
  transition: background-color 0.3s;
  cursor: pointer;
  -webkit-animation: background-color-change 0.5s linear 1;  
  
}
.product_main_info:hover {
  background-color: #252526;
  transition: background-color 0.3s;  
}

.product_main_info.changed {
    -webkit-animation: background-color-change2 0.5s linear 1;  
}

@-webkit-keyframes background-color-change{
  0% {
    background-color: #0098F1;
  }
  30% {
    background-color: #0098F1;
    
  }
  100% {
     background-color: #262626;      
  }
}

@-webkit-keyframes background-color-change2{
  0% {
    background-color: #0098F1;
  }
  30% {
    background-color: #0098F1;
    
  }
  100% {
     background-color: #262626;      
  }
}

.product_comment_container {
  background-color: #3F3E47;
  font-size: 0.8em;
  font-weight: 200;
  box-shadow: inset 1px 2px 6px 1px black;
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}

.product_comment_container.active {
  height: auto;
  max-height: 500px;
  overflow-y: scroll;
  transition: max-height 0.3s ease-in-out;  
}

.product_comment_container .comment_content {
  padding: 3%;
}

.product_name_container {
  float: left;
}

.product_quantity_container {
  float: right;
  padding-right: 6%;
}

.order_title_container {
  padding: 3%;
  background-color: #2e2e2f;
  box-shadow: 0px 1px 9px black;
}


/*principal*/

.wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
}






/*@user_settings {*/
.side_bar {
  float: left;
  width: 20%;
  border-right: 1px solid #e5e5e5;
  height: 100%;
  background-color: #E56245;
}

.side_bar ul {
  margin: 0px;
  padding: 0px;
}

.side_bar li a {
  display: block;
  height: 3em;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 1.3em;
  transition: color 1s, background-color 1s;
}

.side_bar ul, .side_bar li {
  list-style: none;
  font-weight: 100;
}
.side_bar li a:hover {
  color: #E56245;
  background-color: white;
}

.side_bar #logo-holder img{ 
  position: static;
  width: 100%;
  height: auto;
  display: none;
}

.content_body {
  float: left;
  width: 79.9%;
  height: 100%;
  overflow-y:scroll;
  background: #eee;
}

.content_body input[type=submit] {
    border-radius: 0px;
    display: block;
  border: none;
  background-color: transparent;
    color: #a9a9a9;
    border:1px solid #a9a9a9;
  font-size: 1.3em;
  float: left;
  margin: 0% 15%;
  padding: 2% 6%;
  transition: color 1s, border 1s;
}


.content_body input[type=submit]:hover {
  color: #0d0c0d;
  font-size: 1.3em;
  float: left;
  border: 1px solid #0c0d0c;
}

.content_body input[type=text], .content_body input[type=number] {
  border:0; 
padding:10px; 
font-size:1.3em; 
font-family:Arial, sans-serif; 
color:#aaa; 
border:solid 1px #ccc; 
margin:0 0 20px; 
width:300px;
}

form.edit_user_detail {
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 35%;
  padding: 2%;
  margin: 1% 3%;
}

form.edit_user {
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 35%;
  padding: 2%;
  margin: 1% 3%;
  float: left;
}

input.edit_user_password_field {
  padding: 10px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
  position: static;
}

.passwords_mismatch {
  background-color: #f6c8bd !important;
}

.passwords_match {
  background-color: #bdf6c8 !important;
}

input#user_detail_telephone {
  width:150px;
  float: left;
}

.content_body .form_label {
  clear: both;
}

.content_body form.user_products_form {
  height: 90%;
}



#user_products_form_container {
  width: 23%;
  overflow: scroll;
  height: 95%;
  border: 1px solid black;
  margin: 1% 1%;
  float: right;
  position: absolute;
  right: 1%;
}

  .content_body ul {
    width: 20%;
    list-style: none;
    color: #0C0D0C;
    margin: 0px;
    padding: 0px;
  }

  ul.user_selected_products_list {
    width: initial;
    height: 95%;
    width: 95%;
    padding: 1%;
    margin: 0% 2%;
    overflow: scroll;
    border-bottom: 1px solid black;
  }


    /*necesita posicionamiento absoulto*/
  /*.content_body ul.supercategories {
    z-index: 2;
  }

  .content_body ul.subcategories {
    z-index: 1;
  }

  .content_body ul.products {
    z-index: 0;
  }*/

  

  .content_body ul.supercategories, .content_body ul.subcategories, .content_body ul.products {
    float: left;
    height: 95%;
    margin: 1% 0%;
    overflow: scroll;
  }

  .content_body li.menu_button {
    font-size: 0.8em;
    text-align: center;
    font-weight: 400;
    height: 2em;
    border: none;
    width: 94%;
    background-color: transparent;
    transition: text-indent 0.3s, background-color 0.3s, color 0.3s;
    padding: 0.8em 0.55em 0.3em;
    cursor: pointer;
  }

  .content_body li.menu_button:hover {
    text-indent: 20%;
    color: #ff6500;
  }

  .content_body li.menu_button.active {
    background-color: #ff6500;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    text-indent: 20%;
  }


  .content_body li.subcategory_button {
    display: none;
    opacity: 0;
    position: relative;
    left: -100%;
    border-left: 1px solid transparent
  }
  .content_body li.subcategory_button.selected {
    display: block;
    left: 0%;
    opacity: 1;
    border-left: 1px solid #0c0d0c;
    -webkit-animation: slide-in-column 0.5s ease 1;
  }

  .content_body li.product_button {
  display: none;
  opacity: 0;
  position: relative;
  left: -100%;
  transition: all 0.3s;
  }
  

  .product_label {
    display: none;
  }
  .product_label.active {
    position: relative;
    cursor: pointer;
    display: block;
    padding: .4em .8em .4em 2em;
    margin: .5em .5em .5em .5em;
    background: #fdfdfd;
    color: #444;
    text-decoration: none;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 12px;
    transition: all 0.3s;
  }

  .product_label.active:hover {
    text-indent: 3em;
  }

  /*.product_label:hover {
    margin-left: 2em;
  }

  .product_label.active {
    background-color: #6BB6C9;
    color: #fff;
    text-indent: 2em;
  }*/

  .edit_user_product_submit {
    position: absolute;
    bottom: .5em;
    right: .5em;
    margin: 0px !important;
    z-index: 2;
    cursor: pointer;
    display: block !important;
    float: initial !important;
  }

  input[type=submit] {
    cursor: pointer;
  }

  input#products_ {
    display: none;
  }

  .content_body li.product_button.selected {
    display: block;
    left: 0%;
    opacity: 1;
    border-left: 1px solid #0c0d0c;
    -webkit-animation: slide-in-column 0.5s ease 1;
  }


  @-webkit-keyframes slide-in-column{
  0% {
      position: relative;
      left: -100%;
      opacity: 0;
      border-left: 1px solid transparent
  }

  90% {
      border-left: 1px solid transparent;
  }

  100% {
    position: relative;
      left: 0%;
      opacity: 1;
      border-left: 1px solid #0c0d0c;
      
  }
}


.edit_service_score input[type=submit], .edit_product_score input[type=submit] {
  display: none;
}

.content_body.review_background {

  background-color: #F2F2F2;
  transition: background-color 1s;
}

.provider_review_container {
  border: 3px solid transparent;
  border-top: none;
  border-bottom: none;
}

.content_body .provider_review_container:hover {
  border-left: 1px solid #20bdff;
}


#order_review_list {
  width: 100%;
}
.order_review_file {
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.24);
  float: left;
  width: 14em;
  margin: 1em;

}

  .order_title {
    text-align: center;
    padding: 0.5em;
    overflow-x: scroll;
  }

.service_score_container {
  padding: 0% 5%;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.edit_product_score {
  padding: 0% 5%;
  border-bottom: 1px solid #c9c9c9;
}


.content_body .provider_review_container {
  border: 1px solid #c9c9c9;
  margin: 0.4em;
  border-top: none;
  border-bottom: none;
}

.review_container_remove {      
    background-color: white;
    -webkit-animation: highlight-destroy 1s ease 1;

}

@-webkit-keyframes highlight-destroy {

  0% {
    opacity: 1;
    background-color: #72ff36;
  }


  100% {
    opacity: 0;
    background-color: white;
  }
}

/*}


/*  @history { */

  a.order_history_link  {
    text-decoration: none;
    color: #454E59;
    display: block;
    margin: 10px;
    padding: 1%;
    width: 70%;
    background: #fff;
    border: 1px solid #ccc;
  }
  
  .history_link_title {
    font-size: 21px;
    font-weight: 700;
    width: 810px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .hide_order_history_button {
    background-color: red;
    width: 1em;
    height: 1em;
    float: right;
    margin: 1%;
  }
  .order_history_container  {
    /*display: none;*/
    position: fixed;
    width: 0%;
    height: 0%;
    transition: width 0.5s, height 0.5s;
  }
  .order_history_container.active  {
    /*display: block;*/
    overflow: scroll;
    position: fixed;
    background-color: white;
    top: 10%;
    left: 30%;
    width: 60%;
    height: 85%;
  }

  ul.provider_history_list {
      border: 1px solid transparent;
    margin: 1em;
    float: left;
    width: 55%;
  }

  ul.order_product_histories {
    border: 1px solid transparent;
    float: right;
    margin: 1em;
  }

  ul.provider_offer_histories_list {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    /*padding: 1% 1%;*/
    transition: max-height 0.5s;
  }

  ul.provider_offer_histories_list.active {
    /*overflow-y: scroll;*/
    max-height: 50em;

  }
  
  li.offer_history {
    /*max-height: 1.5em;*/
    overflow: hidden;
    cursor: pointer;
    text-indent: 2%;
    margin: 1%;
  }

  .offer_history_header {
    border-bottom: 1px solid transparent;
    border-radius: 1em;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .offer_history_header:hover {
    background-color: #DDDDDD;
  }

  .offer_history_header.received{
    background-color: #b0ffb0;
  }

  .offer_history_header.locked{
    background-color: #f5dc8f;
  }

  

  li.offer_history.active {
    /*max-height: 500px;*/
    overflow: scroll
  }

  

  .offer_comment_history_container {
    text-indent: 0px;
    color: #005686;    
    max-height: 0px;
    padding-left: 5%;
    font-size: 0.8em;
    transition: max-height 0.5s;
  }

  .offer_comment_history_container.active {
    max-height: 500px;
  }

  .fade_layer {
    position: fixed;
    width: 0%;
    height: 0%;
    /*display: none;*/
    background: white;
    /*opacity: 1;*/
    transition: background-color 1s, opacity 1s;
  }

  .fade_layer.active {
    /*display: block;*/
    width: 101%;
    margin-left: -1px;
    height: 100%;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
    /*opacity: 0.9;*/
    transition: background 1s, opacity 1s;
    /* box-shadow: 0 5px 100px 40px rgba(0,0,0,0.8); */
  }

  .order_history_header {
    font-size: 1.2em;
    padding: 1%;
    font-weight: 200;
    text-indent: 1%;
  }

  .order_history_header .time_container {
    color: #20bdff;
    font-weight: 400;
    font-size: 0.7em;
  }

  .provider_header {
    color: #005686;
    font-weight: 500;
  }

  .order_history_footer  {
    position: absolute;
    padding: 1%;
    bottom: 1px;
    width: 98%;
    background-color: white;
  }

  .status_locked {
    float: left;
    border: 1px solid transparent;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    background-color: #f5dc8f;
  }

  .status_received {
    float: left;
    border: 1px solid transparent;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    background-color: #b0ffb0; 
  }

  .order_history_legend {
    float: right;
    width: 25%;
  }

  .locked_information {
    color: #999999;
    display: inline;
    font-weight: 200;
    float: left;
    margin: 0% 3%;
  }

  .received_information {
    color: #999999;
    display: inline;
    font-weight: 200;
    float: left;
    margin: 0% 3%;
  }

  li.order_product_history {
    margin: 1%;
    font-weight: 500;
  }

  ul.provider_combo_histories_list {
    overflow: hidden;
    max-height: 0px;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  ul.provider_combo_histories_list.active {
    overflow: scroll;
    max-height: 50em;
    width: 100%;
  }

  li.combo_history {
  /* max-height: 1.5em; */
  overflow: hidden;
  cursor: pointer;
  text-indent: 2%;
  margin: 1%;
}

.combo_history_header {
    border-bottom: 1px solid transparent;
    border-radius: 1em;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    padding: 1%;
  }

  .combo_history_header:hover {
    background-color: #DDDDDD;
  }

  .combo_history_header.received{
    background-color: #b0ffb0;
  }

  .combo_history_header.locked{
    background-color: #f5dc8f;
  }

  

  li.combo_history.active {
    /*max-height: 500px;*/
    overflow: scroll
  }

  .combo_comment_history_container {
    text-indent: 0px;
    color: #005686;    
    max-height: 0px;
    padding-left: 5%;
    font-size: 0.8em;
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  .combo_comment_history_container.active {
    max-height: 500px;
  }



  ul.combo_product_history_list {
    width:100%;
    overflow: auto;
  }

  li.combo_product_history {
  width: 45%;
  border: 1px solid transparent;
  border-radius: 1em;
  background-color: white;
  margin: 1%;
  float: left;
}

.settings_loading_animation_container .loading_animation {
  position: fixed;
  margin: auto;
}

.content_body img.loading_animation {
  display: none;
  width: 33%;
  height: auto;
  /* margin: 30% 35%; */
  margin: 0% 33%;
  margin-top: 10%;
}

.content_body img.loading_animation.active {
   display: block; 
}

.user_settings_email_container {
  display: block;
  height: 3em;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 1.3em;
  background-image: -webkit-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
  background-image: -moz-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
  background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%);
  background-image: linear,to right,transparent 0,rgba(0,0,0,.07) 15%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.07) 85%,transparent 100%;
}




  /*.offer_comment_history_container {
    display: none;
  }*/
/* }*/