<%= form_for @user_detail, remote: true do |f| %>

	<div class="form_label">
		<span>Dirección</span> <span style="color:#20bdff">*</span>
	</div>
	<%= f.text_field :address, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>

	<div class="form_label">
		<span>Teléfono</span> <span style="color:#20bdff">*</span>
	</div>
	<%= f.number_field :telephone, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
	<%= f.submit "Actualizar" %>
<% end %>

